@using SGJD_INA.Models.ViewModels

@model CierreTomoViewModel

@{
    ViewBag.Title = "Verificación y cierre de libro de actas";
    //bool ActasFirmadas = true;
}

@* Codigo para enviar el valor de la vista para abrir el modal de ayuda en cada vista *@
<input type="hidden" id="nameView" value="CieAud" />

<div class="row mt-2">
    <div class="col s12 m4">
        <h6 class="seccion white-text truncate">
            <a title="Regresar" href="@Url.Action("Tomos", "Auditoria")">
                <i class="fa fa-arrow-left white-text">&nbsp;</i>
            </a>
            Libro de Actas
        </h6>
    </div>
    <div class="col s12 m8 hide-on-med-and-down">
        <nav class="transparent z-depth-0 breadcrumb">
            <div class="nav-wrapper right">
                <div class="col s12">
                    <a href="@Url.Action("Inicio", "Inicio")" class="breadcrumb">Inicio</a>
                    <a href="@Url.Action("Actas", "Inicio")" class="breadcrumb">Módulo de Actas</a>
                    <a href="@Url.Action("Tomos", "Auditoria")" class="breadcrumb">Libro de Actas</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            @using (Html.BeginForm("CierreTomo", "Auditoria", FormMethod.Post, new { id = "frmCierreTomo", autocomplete = "off" })) {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.IdTomo)
                @Html.HiddenFor(model => model.NombreTomo)
                @Html.HiddenFor(model => model.FechaApertura)
                @Html.HiddenFor(model => model.IdUsuarioApertura)
                @Html.HiddenFor(model => model.NumeroTomo)
                @Html.HiddenFor(model => model.NumeroAsiento)

                <div class="row">
                    <div class="col s12 m8 mb-1">
                        <span class="fz-1-2r font-bold">
                            Cierre de @Model.NombreTomo
                        </span>
                    </div>
                </div>

                <div class="row">
                    @*Nombre de libro *@
                    <div class="col s12 m6">
                        <div class="input-field">
                            @Html.EditorFor(model => model.NombreLibro, new { htmlAttributes = new { @class = "", @readonly = true } })
                            @Html.LabelFor(model => model.NombreLibro, new { @class = "black-text" })
                        </div>
                    </div>

                    @* Nombre de la unidad ejecutora *@
                    <div class="col s12 m6">
                        <div class="input-field">
                            @Html.EditorFor(model => model.NombreUnidad, new { htmlAttributes = new { @class = "", @readonly = true } })
                            @Html.LabelFor(model => model.NombreUnidad, new { @class = "black-text active" })
                        </div>
                    </div>

                    @* Nombre del usuario de cierre (auditor interno) *@
                    <div class="col s12 m6">
                        <div class="input-field">
                            @Html.TextBox("UsuarioCierre", User.NombreCompleto(), new { disabled = "disabled" })
                            @Html.Label("UsuarioCierre", "Auditor(a) Interno(a)", new { @class = "black-text" })
                        </div>
                    </div>

                    @* Fecha de cierre *@
                    <div class="col s12 m6">
                        <div class="input-field">
                            @Html.LabelFor(model => model.FechaCierre, new { @class = "active black-text" })
                            @Html.TextBoxFor(model => model.FechaCierre, "{0:dd/MM/yyyy}", new { @class = "" })
                        </div>
                    </div>

                    <div class="col s12">
                        <ul class="collapsible expandable z-depth-0">
                            <li>
                                @* Tutilo de datos de apertura *@
                                <div class="collapsible-header grey lighten-5 font-bold">
                                    <i class="fa fa-caret-right"></i>
                                    <span>Información de apertura</span>
                                </div>
                                @* Datos de apertura *@
                                <div class="collapsible-body">
                                    <div>
                                        <span>La apertura se realizó el día:</span>
                                        <span class="black-text font-bold">@Model.FechaApertura,</span>
                                        <span>por el usuario:</span>
                                        <span class="black-text font-bold">@Model.UsuarioApertura</span>
                                        <span>del Tomo</span>
                                        <span class="black-text font-bold">#@Model.NumeroTomo</span>
                                        <span>Asiento N°.</span>
                                        <span class="black-text font-bold">@Model.NumeroAsiento</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                @* Lista de Actas *@
                                <div class="collapsible-header font-bold blue-text teal lighten-5">
                                    <i class="fa fa-caret-right"></i>
                                    @Html.DisplayNameFor(model => model.ListaActas)
                                </div>
                                <div class="collapsible-body">
                                    @if (@Model.ListaActas.Count() > 0) {
                                        <ul class="collection">
                                            @foreach (var Acta in Model.ListaActas) {
                                                <li class="collection-item black-text p-0">
                                                    <div class="row">
                                                        @* Titulo del acta*@
                                                        <div class="col s12 m5">
                                                            @Html.Raw("Acta de " + Acta.TipoSesion + " " + Acta.NumeroSesion + " - " + Acta.AnnoSesion)
                                                        </div>
                                                        @* Estado del acta*@
                                                        <div class="col s12 m4">
                                                            <a>@Helpers.Estado(Acta.CodigoEstado, Acta.NombreEstado)</a>
                                                        </div>
                                                        @* Botones para ver en pdf o ver en linea segun sea el caso*@
                                                        <div class="col s12 m3">
                                                            @if (Acta.CodigoEstado.Equals("AC-FIRM")) {
                                                                <a class="secondary-content" href="@Url.Action("Editar", "Actas", new { IdSesion = Acta.IdSesion})" target="_blank">
                                                                    &nbsp; &nbsp;
                                                                    <span class="black-text">Ver Acta</span>
                                                                    <i class="fas fa-external-link-alt blue-grey-text"></i>
                                                                </a>
                                                            }

                                                            @if (!Acta.UrlActa.IsEmpty()) {
                                                                <a class="secondary-content" href="@Acta.UrlActa" target="_blank">
                                                                    <span class="black-text">Ver</span>
                                                                    <i class="material-icons secondary-content red-text">picture_as_pdf</i>
                                                                </a>
                                                            }

                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }

                                </div>
                            </li>
                        </ul>
                    </div>

                    @*  Check de actas aprobadas *@
                    <div class="col s12 m6 my-2">
                        <label class="black-text fz-0-9r" for="ActasAprobadas">Todas las Actas aprobadas</label>
                        <input id="ActasAprobadas" type="checkbox" name="ActasAprobadas">
                    </div>

                    @*  Check de actas firmado *@
                    <div class="col s12 m6 my-2">
                        <label class="black-text fz-0-9r" for="ActasFirmada">Todas las Actas firmadas</label>
                        <input id="ActasFirmada" type="checkbox" name="ActasFirmada">
                    </div>

                    @* Observacion de cierre *@
                    <div class="input-field col s12 mb-0">
                        @Html.TextAreaFor(model => model.ObservacionCierre, new { @class = "validate materialize-textarea" })
                        @Html.LabelFor(model => model.ObservacionCierre, new { @class = "black-text" })
                        @Html.ValidationMessageFor(model => model.ObservacionCierre, "", new { @class = "helper-text" })
                    </div>

                    @* Observacion mediante oficio *@
                    <div class="input-field col s12 mb-0">
                        @Html.TextAreaFor(model => model.ObservacionesMedianteOficio, new { @class = "validate materialize-textarea" })
                        @Html.LabelFor(model => model.ObservacionesMedianteOficio, new { @class = "black-text" })
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field red-text font-bold">
                            @Html.ValidationSummary(true, "", new { @class = "data-error" })
                        </div>
                    </div>

                    <div class="col s12">
                        @*@if (ActasFirmadas is true) {*@
                        @* Botón [Cerrar tomo] *@
                        <button type="submit" title="Cerrar libro" id="CerrarLibro" class="btn btn-small yellow black-text waves-effect waves-light font-bold" disabled="disabled" href="@Url.Action("CerrarLibro", "Auditoria")">
                            Cerrar Tomo
                        </button>
                        @*}
                            else {
                                <span class="blue-text">
                                    <i class="fa fa-info-circle"></i>
                                    El tomo posee actas que no se encuentran en estado [Firmado] por lo que no se puede cerrar este tomo.
                                </span>
                                <br />
                            }*@

                        @* Botón [Cancelar] *@
                        <a title="Cerrar" id="Cerrar" class="btn btn-small grey lighten-3 black-text font-bold waves-effect" href="@Url.Action("Tomos", "Auditoria")">
                            Cancelar
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(document).ready(function () {
            // Sobreescribir validador de jQuery para que verifique el formato de fecha
            // Se coloca acá ya que para que funcione, en la vista se debe cargar primero jqueryval
            $.validator.addMethod('date', function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var valid = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    valid = false;
                }
                return valid;
            });
        });

        // Cambiar la orientación de las flechas al abrir y cerrar un elemento del collapsible
        $(".collapsible li div.collapsible-header").click(function () {
            if ($(this).parent().attr("class") == "active") {
                $(this).find("i").removeClass("fa fa-caret-down").addClass("fa fa-caret-right");
            }
            else {
                $(this).find("i").removeClass("fa fa-caret-right").addClass("fa fa-caret-down");
            }
        });

        // Validar los check de Actas aprobadas y Actas firmadas, si estan marcados se activa el boton de cierre de tomo
        // si no el boton permanece desactivado
        $("#ActasAprobadas, #ActasFirmada").on('change', function () {
            if ($("#ActasAprobadas").is(':checked') && $("#ActasFirmada").is(':checked')) {
                $("#CerrarLibro").removeAttr("disabled", "disabled");
            }
            else {
                $("#CerrarLibro").attr("disabled", "disabled");
            }
        });
    </script>
}