@using SGJD_INA.Models.ViewModels;

@model DetalleCierreTomoViewModel

@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">                   
                </div>              
            </div>
            <div class="row">
                <div class="col s12 m7 ">
                    <span class="fz-1-2r font-bold">Cierre del @Model.NombreTomo </span>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <p class="text-justified">
                                La Auditoría Interna del Instituto Nacional de Aprendizaje, cumpliendo con lo
                                dispuesto en el Art. 22 literal e) de la Ley General de Control Interno No. 8292
                                hace constar que aquí finaliza el tomo No. <span class="font-strong">@Html.DisplayFor(model => model.NumeroTomo)</span> del libro
                                <span class="font-strong">@Html.DisplayFor(model => model.NombreLibro)</span>
                                utilizado por <span class="font-strong">@Html.DisplayFor(model => model.UnidadEjecutora)</span>.
                            </p>
                            <p>
                                <span class="font-strong">Observaciones de cierre: </span> @Html.Raw(Model.ObservacionesCierre)<br />
                            </p>
                            <p>
                                <span class="font-strong">Observaciones mediante oficio: </span> @Html.Raw(Model.ObservacionesMedianteOficio)<br />
                            </p>
                            <p>
                                San José, <span class="font-strong">@Html.DisplayFor(model => model.FechaCierre.Day)</span> de <span class="font-strong">@Html.Raw(Model.FechaCierre.ToString("MMMM"))</span> del <span class="font-strong">@Html.DisplayFor(model => model.FechaCierre.Year)</span><br />
                            </p>
                            <p>
                                Auditor(a) Interno(a): <span class="font-strong">@Html.DisplayFor(model => Model.UsuarioCierre)</span>
                            </p>
                        </div>
                    </div>
                    @* Espacio para firma del documento *@
                    <div class="row">
                        <div class="col s12 mt-6">
                            <p class="font-bold">
                                __________________________________________________
                                <br />
                                @Html.DisplayFor(model => Model.UsuarioCierre)
                                <br />
                                Auditor(a) Interno(a)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/estilosimpresion")
@Styles.Render("~/Content/quill")