@using SGJD_INA.Models.ViewModels

@model RestablecerContrasenaViewModel

@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

@* Codigo para enviar el valor de la vista para abrir el modal de ayuda en cada vista *@
<input type="hidden" id="nameView" value="RestaContrac" />

@using (Html.BeginForm("RestablecerContrasena", "Cuenta", FormMethod.Post, new { @id = "resetPasswordForm", autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Code)

    <h6 class="center mb-2">@ViewBag.Title</h6>

    // Correo electrónico
    <div class="input-field">
        @Html.EditorFor(m => m.CorreoElectronico, new { htmlAttributes = new { @class = "validate" } })
        @Html.LabelFor(m => m.CorreoElectronico, new { @class = "black-text" })
        @Html.ValidationMessageFor(m => m.CorreoElectronico, "", new { @class = "helper-text" })
    </div>

    // Contraseña
    <div class="input-field">
        @Html.PasswordFor(m => m.Contrasena, new { @class = "validate" })
        @Html.LabelFor(m => m.Contrasena, new { @class = "black-text" })
        @Html.ValidationMessageFor(m => m.Contrasena, "", new { @class = "helper-text" })
    </div>

    // Confirmar contraseña
    <div class="input-field">
        @Html.PasswordFor(m => m.ConfirmarContrasena, new { @class = "validate" })
        @Html.LabelFor(m => m.ConfirmarContrasena, new { @class = "black-text" })
        @Html.ValidationMessageFor(m => m.ConfirmarContrasena, "", new { @class = "helper-text" })
    </div>

    <div class="center red-text font-bold">
        @Html.ValidationSummary(true, "", new { @class = "data-error" })
    </div>

    <button type="submit" value="Cambiar contraseña" class="btn btn-small waves-effect waves-light font-bold white-text blue width-100">
        <i class="fa fa-check po-absolute left-3"></i>
        Cambiar contraseña
    </button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}