@using SGJD_INA.Models.ViewModels

@model AgregarSeccionViewModel

@{
    ViewBag.Title = "Agregar Seccion";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h6 class="center text-uppercase">
    Agregar Sección
</h6>

@using (Html.BeginForm("Agregar", "Seccion", FormMethod.Post, new { onsubmit = "return SubmitForm(this);", autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "data-error" })

    <div class="row">
        <div class="col s12">
            <div class="input-field mt-0 mb-1">
                @Html.EditorFor(model => model.Descripcion, new { @class = "validate" })
                @Html.LabelFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="center">
        <button type="submit" title="Agregar" value="Agregar" class="btn btn-small yellow black-text font-bold waves-effect waves-light fz-0-8r">
            Agregar
        </button>
        <button type="button" title="Cancelar" value="Cancelar" class="btn btn-small grey lighten-3 red-text waves-effect fz-0-8r" onclick="CerrarDialog()">
            Cancelar
        </button>
    </div>
}