@using SGJD_INA.Models.ViewModels;

@model EditarHoraViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@* Encabezado / Título del PopUp / Modal / Dialog *@
<h6 class="center text-uppercase black-text">Editar hora</h6>

@using (Html.BeginForm("EditarHora", "AsistenteSesion", FormMethod.Post, new { onsubmit = "return SubmitFormHora(this)", autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "data-error" })

    @Html.HiddenFor(model => model.IdAsistente)

    <p class="center mb-2">@Html.DisplayFor(model => model.NombreUsuario)</p>

    <div class="input-field black-text my-1">
        @Html.TextBoxFor(model => model.HoraInicio, string.Format("{0:hh\\:mm}", Model.HoraInicio), new { @class = "validate timepicker" })
        @Html.LabelFor(model => model.HoraInicio, new { @class = "active" })
        @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "helper-text" })
    </div>

    <div class="input-field black-text my-1">
        @Html.TextBoxFor(model => model.HoraFin, new { @class = "validate timepicker" })
        @Html.LabelFor(model => model.HoraFin, new { @class = "active" })
    </div>

    <div class="center">
        <button type="submit" title="Guardar" value="Guardar" class="btn btn-small yellow black-text font-bold waves-effect waves-light">
            Guardar
        </button>
        <button type="button" title="Cancelar" value="Cancelar" class="btn btn-small grey lighten-3 red-text font-bold waves-effect" onclick="CerrarDialog()">
            Cancelar
        </button>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        // Inicializar timepicker de materialize que se encuentra dentro del PopUp
        // Debe ser realizado puesto que cuando se carga esta vista en el PopUp ya los scripts de LayOut se ejecutaron
        $(".timepicker").timepicker({ i18n: parametrosi18nTimePicker });
    </script>
}