@using SGJD_INA.Models.ViewModels

@model AgregarTipoObjetoViewModel

@{
    ViewBag.Title = "Agregar Tipo de Objeto";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@* Encabezado / Título del PopUp / Modal / Dialog *@
<h6 class="center text-uppercase mb-2">
    Agregar Tipo de Objeto
</h6>

@using (Html.BeginForm("Agregar", "TipoObjeto", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "data-error" })

    <div class="row mb-0">
        <div class="col s12">
            <div class="input-field">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "validate" } })
                @Html.LabelFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="row mb-0">
        <div class="col s12">
            <div class="input-field">
                @Html.LabelFor(model => model.NombreTabla, new { @class = "active" })
                @Html.DropDownListFor(model => model.NombreTabla, new SelectList(ViewBag.ListaTablasBD, "Text", "Text"), "Seleccione una tabla", new { @class = "browser-default fz-0-8r" })
                @Html.ValidationMessageFor(model => model.NombreTabla, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="row mb-0">
        <div class="col s6">
            <div class="input-field">
                @Html.EditorFor(model => model.Consecutivo, new { htmlAttributes = new { @class = "validate" } })
                @Html.LabelFor(model => model.Consecutivo, new { @class = "active" })
                @Html.ValidationMessageFor(model => model.Consecutivo, "", new { @class = "helper-text" })
            </div>
        </div>
        <div class="col s6">
            <div class="input-field">
                @Html.EditorFor(model => model.Nomenclatura, new { htmlAttributes = new { @class = "validate" } })
                @Html.LabelFor(model => model.Nomenclatura, new { @class = "active" })
                @Html.ValidationMessageFor(model => model.Nomenclatura, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m5">
            @Html.LabelFor(model => model.ParametroEdicion)
            @Html.EditorFor(model => model.ParametroEdicion)
        </div>

        <div class="col s12 m7">
            @Html.LabelFor(model => model.ParametroEncabezadoPie)
            @Html.EditorFor(model => model.ParametroEncabezadoPie)
        </div>
    </div>

    <div class="center">
        <button type="submit" title="Agregar" value="Agregar" class="btn btn-small yellow black-text font-bold waves-effect waves-light fz-0-8r">
            Agregar
        </button>
        <button type="button" title="Cancelar" value="Cancelar" class="btn btn-small grey lighten-3 red-text font-bold waves-effect fz-0-8r" onclick="CerrarDialog()">
            Cancelar
        </button>
    </div>
}

@section Scripts { }