@using SGJD_INA.Models.ViewModels

@model EditarEstadoViewModel

@{
    ViewBag.Title = "Editar estado";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@* Encabezado / Título del PopUp / Modal / Dialog *@
<h6 class="center text-uppercase font-bold fz-1r black-text pb-2">
    Editar Estado
</h6>

@using (Html.BeginForm("Editar", "Estado", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "data-error" })

    @Html.HiddenFor(model => model.IdEstado)
    @Html.HiddenFor(model => model.IdTipoObjeto)
    @Html.HiddenFor(model => model.CodigoEstado)

    <div class="row mb-0">
        <div class="col s12">
            <div class="input-field">
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="row my-0">
        <div class="col s12">
            <div class="input-field">
                @Html.LabelFor(model => model.Descripcion, new { @class = "active" })
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "validate materialize-textarea" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="row mb-0">
        <div class="col s6">
            @Html.LabelFor(model => model.CodigoEstado, new { @class = "active" })
            <p class="mt-0">@Html.DisplayFor(model => model.CodigoEstado)</p>
        </div>
        <div class="col s6">
            @Html.LabelFor(model => model.NombreTipoObjeto, new { @class = "active" })
            <p class="mt-0">@Html.DisplayFor(model => model.NombreTipoObjeto)</p>
        </div>
    </div>

    <div class="row mb-0">
        <div class="col s12">
            <div class="input-field">
                @Html.LabelFor(model => model.IdAviso, new { @class = "active" })
                @Html.DropDownListFor(model => model.IdAviso, new SelectList(ViewBag.Avisos, "id", "nombre"), new { @class = "browser-default mt-1" })
                @Html.ValidationMessageFor(model => model.IdAviso, "", new { @class = "helper-text" })
            </div>
        </div>
    </div>

    <div class="center">
        <button type="submit" title="Guardar" value="Guardar" class="btn btn-small yellow black-text waves-effect waves-light font-bold fz-0-8r">
            Guardar
        </button>
        <button type="button" title="Cancelar" value="Cancelar" class="btn btn-small grey lighten-3 red-text waves-effect fz-0-8r" onclick="CerrarDialog()">
            Cancelar
        </button>
    </div>
}

@section Scripts { }