@using SGJD_INA.Models.ViewModels

@model IEnumerable<InicioEstadoViewModel>

@{
    ViewBag.Title = "Estados de tipos de objeto";
}

@* Codigo para enviar el valor de la vista para abrir el modal de ayuda en cada vista *@
<input type="hidden" id="nameView" value="IniEst" />

<div class="row mt-2">
    <div class="col s12 m4">
        <h6 class="seccion white-text truncate">
            <a title="Regresar" href="@Url.Action("Administracion", "Inicio")">
                <i class="fa fa-arrow-left white-text">&nbsp;</i>
            </a>
            Estados de Objeto
        </h6>
    </div>
    <div class="col s12 m8 hide-on-med-and-down">
        <nav class="transparent z-depth-0 breadcrumb">
            <div class="nav-wrapper right">
                <div class="col s12">
                    <a href="@Url.Action("Inicio", "Inicio")" class="breadcrumb">Inicio</a>
                    <a href="@Url.Action("Administracion", "Inicio")" class="breadcrumb">Módulo de Administración</a>
                    <a href="#" class="breadcrumb">Estados de Objeto</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col s12 m10 mb-1">
                    <span class="fz-1-2r font-bold">
                        Lista de Estados de Objeto
                    </span>
                </div>

                <div class="col s6 m2">
                    <button id="BtnFiltrar" type="button" value="Filtrar" title="Filtrar" class="btn btn-small grey lighten-3 waves-effect black-text font-bold right">
                        <i class="fa fa-filter left"></i>
                        Filtrar
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <table id="TablaEstado" class="table responsive display width-100 bordered cell-border">
                        <thead>
                            <tr>
                                <th nowrap>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th nowrap>@Html.DisplayNameFor(model => model.CodigoEstado)</th>
                                <th nowrap>@Html.DisplayNameFor(model => model.TipoObjeto)</th>
                                <th nowrap>@Html.DisplayNameFor(model => model.Aviso)</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var Estado in Model) {
                                <tr>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => Estado.Nombre)
                                    </td>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => Estado.CodigoEstado)
                                    </td>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => Estado.TipoObjeto)
                                    </td>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => Estado.Aviso)
                                    </td>
                                    <td>
                                        <a class='dropdown-trigger btn btn-small grey lighten-3 waves-effect right' href='#' data-target='dropdown_@Estado.IdEstado'>
                                            <i class="fa fa-caret-down blue-text"></i>
                                        </a>

                                        @* Contenido del Dropdown *@
                                        <ul id='dropdown_@Estado.IdEstado' class='dropdown-content'>
                                            @*<li>
                                                <a class="blue-text" title='Ver detalles' onclick="PopUpForm('@Url.Action("Detalles", "Estado", new { IdEstado=Estado.IdEstado } )')">Ver detalles</a>
                                            </li>
                                            <li class="divider" tabindex="-1"></li>*@
                                            <li>
                                                <a class="blue-text" title='Editar' onclick="PopUpForm('@Url.Action("Editar", "Estado", new { IdEstado=Estado.IdEstado  } )')">Editar</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/jquerydatatable")
@Styles.Render("~/Content/jquerydatatableresponsive")
@Styles.Render("~/Content/jqueryui")

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/jquerydatatableresponsive")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        var PopUp;

        $(document).ready(function () {
            $("#TablaEstado").DataTable({
                language: parametrosLenguajeDataTable,
                pagingType: "numbers",
                searching: true,
                ordering: true,
                responsive: true,
                info: false,
                pageLength: 20,
                autoWidth: true,
                lengthChange: false,
                orderCellsTop: true,
                fixedHeader: true,
                order: [2, "asc"],
                columnDefs: [ // Indicar a la librería que la primer y ultima columna no se oculten en responsive
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: -1 }
                ],
                initComplete: CambiarPropiedadesFiltro
            });
        });
    </script>
}