@using SGJD_INA.Models.ViewModels

@model IEnumerable<InicioArchivoAdjuntoViewModel>

@{
    ViewBag.Title = "Archivos Adjuntos";
}

@* Codigo para enviar el valor de la vista para abrir el modal de ayuda en cada vista *@
<input type="hidden" id="nameView" value="IniArchAdj" />

<div class=" row mt-2">
    <div class="col s12 m4">
        <h6 class="seccion white-text truncate">
            <a title="Regresar" href="@Url.Action("Administracion", "Inicio")">
                <i class="fa fa-arrow-left white-text">&nbsp;</i>
            </a>
            Archivos Adjuntos en el Sitema
        </h6>
    </div>
    <div class="col s12 m8 hide-on-med-and-down">
        <nav class="transparent z-depth-0 breadcrumb">
            <div class="nav-wrapper right">
                <div class="col s12">
                    <a href="@Url.Action("Inicio", "Inicio")" class="breadcrumb">Inicio</a>
                    <a href="@Url.Action("Administracion", "Inicio")" class="breadcrumb">Módulo de Administración</a>
                    <a href="#" class="breadcrumb">Archivos Adjuntos</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col s12 m10 mb-1">
                    <span class="fz-1-2r font-bold">
                        Lista de Archivos Adjuntos
                    </span>
                </div>
                <div class="col s12 m2">
                    <button id="BtnFiltrar" type="button" value="Filtrar" title="Filtrar" class="btn btn-small grey lighten-3 waves-effect black-text font-bold right">
                        <i class="fa fa-filter left"></i>
                        Filtrar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table id="TablaArchivoAdjunto" class="table responsive display width-100 bordered cell-border">
                        <thead>
                            <tr>
                                <th nowrap>@Html.DisplayNameFor(model => model.Observacion)</th>
                                <th nowrap>@Html.DisplayNameFor(model => model.NombreTipoArchivo)</th>
                                <th nowrap>@Html.DisplayNameFor(model => model.UrlArchivo)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ArchivoAdjunto in Model) {
                                <tr>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => ArchivoAdjunto.Observacion)
                                    </td>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => ArchivoAdjunto.NombreTipoArchivo)
                                    </td>
                                    <td nowrap>
                                        @Html.DisplayFor(modelItem => ArchivoAdjunto.UrlArchivo)
                                    </td>
                                    <td nowrap>
                                        <a class="btn btn-small grey lighten-3 waves-effect blue-text font-bold" title='Ver' href="@ArchivoAdjunto.UrlArchivo">Ver</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/jquerydatatable")
@Styles.Render("~/Content/jquerydatatableresponsive")
@Styles.Render("~/Content/jqueryui")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydatatable")
    @Scripts.Render("~/bundles/jquerydatatableresponsive")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#TablaArchivoAdjunto").DataTable({
                language: parametrosLenguajeDataTable,
                pagingType: "numbers",
                searching: true,
                responsive: true,
                info: false,
                pageLength: 20,
                autoWidth: true,
                lengthChange: false,
                orderCellsTop: true,
                fixedHeader: true,
                columnDefs: [ // Indicar a la librería que la primer y ultima columna no se oculten en responsive
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: -1 }
                ],
                initComplete: CambiarPropiedadesFiltro
            });
        });
    </script>
}