@{
    ViewBag.Title = "Módulo de Acuerdos";
}

@* Codigo para enviar el valor de la vista para abrir el modal de ayuda en cada vista *@
<input type="hidden" id="nameView" value="Acu" />

<div class="row mt-2">
    <div class="col s12 m4">
        <h6 class="seccion white-text truncate">
            <a title="Regresar" href="@Url.Action("Inicio", "Inicio")">
                <i class="fa fa-arrow-left white-text">&nbsp;</i>
            </a>
            Módulo de Acuerdos
        </h6>
    </div>
    <div class="col s12 m8 hide-on-med-and-down">
        <nav class="transparent z-depth-0 breadcrumb">
            <div class="nav-wrapper right">
                <div class="col s12">
                    <a href="@Url.Action("Inicio", "Inicio")" class="breadcrumb">Inicio</a>
                    <a href="#" class="breadcrumb">Módulo de Acuerdos</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    @* Acuerdos *@
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" alt="Acuerdos" src="~/Content/Images/acuerdo.png">
            </div>
            <ul class="collapsible expandable z-depth-0 m-0">
                <li>
                    <div class="collapsible-header blue-text font-bold">
                        <i class="fa fa-caret-right"></i>
                        Acuerdos
                    </div>
                    <div class="collapsible-body p-0">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="@Url.Action("Inicio", "Acuerdo")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Lista de Acuerdos
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("Agregar", "Acuerdo")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Agregar Acuerdo
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    @* Seguimientos *@
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" alt="Seguimientos" src="~/Content/Images/seguimiento.png">
            </div>
            <ul class="collapsible expandable z-depth-0 m-0">
                <li>
                    <div class="collapsible-header blue-text font-bold">
                        <i class="fa fa-caret-right"></i>
                        Seguimientos
                    </div>
                    <div class="collapsible-body p-0">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="@Url.Action("Inicio", "Seguimiento")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Lista de Seguimientos
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("Agregar", "Seguimiento")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Agregar Seguimiento
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("GestorTipoSeguimiento", "Seguimiento")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Tipo de Seguimiento a Acuerdos
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    @* Informes *@
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" alt="Informes" src="~/Content/Images/informe.png">
            </div>
            <ul class="collapsible expandable z-depth-0 m-0">
                <li>
                    <div class="collapsible-header blue-text font-bold">
                        <i class="fa fa-caret-right"></i>
                        Informes
                    </div>
                    <div class="collapsible-body p-0">
                        <ul class="collection">
                            <li class="collection-item">
                                <a href="@Url.Action("InformeAcuerdos", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Informe de Acuerdos
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("InformeAcuerdosResumido", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Informe de Acuerdos resumido
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("ResumenEjecucionAcuerdos", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Resumen de ejecución de Acuerdos
                                </a>
                            </li>

                            <li class="collection-item">
                                <a href="@Url.Action("InformeSeguimientos", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Informe de Seguimientos
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("InformeSeguimientosResumido", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Informe de Seguimientos resumido
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("InformeSeguimientosVencidos", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Informe de Seguimientos vencidos
                                </a>
                            </li>
                            <li class="collection-item">
                                <a href="@Url.Action("InformeSeguimientosSinFechaVencimiento", "ReportesAcuerdos")" class="blue-text">
                                    <i>&#45;&nbsp;</i>
                                    Informe de Seguimientos sin fecha vencimiento
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    @Html.Partial("_ParametrosAcuerdosPartial")
</div>

@section scripts {
    <script type="text/javascript">
        // Cambiar la orientación de las flechas al abrir y cerrar un elemento del collapsible
        $(".collapsible").on("click", "li div.collapsible-header", function () {
            $(this).parent().siblings().not("active").find("div.collapsible-header i").removeClass("fa fa-caret-down").addClass("fa fa-caret-right");

            if ($(this).parent().attr("class") == "active") {
                $(this).find("i").removeClass("fa fa-caret-down").addClass("fa fa-caret-right");
            }
            else {
                $(this).find("i").removeClass("fa fa-caret-right").addClass("fa fa-caret-down");
            }
        });
    </script>
}